@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next {
  background: url('https://w7.pngwing.com/pngs/503/339/png-transparent-arrow-button-circular-arrows-elements-angle-text-orange.png') center center no-repeat!important;
  border-radius: 60%!important;
  width: 50px!important;
  height: 50px!important;
  right: 25px !important;
}
  .slick-next::before {
    display: none;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
 --primary: #f37c03;
 --secondary: #262626;
 --blue: #00154f;
}
body{
    /*color: #333;*/
    font-family: "Tomato";
    color: #262626;

}
.primary-color {
    color: var(--primary);
}
.secondary-color {
    color: var(--secondary);
}
@font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-BlackSlanted.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
  }
  
  /* 700 */
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-Bold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-BoldSlanted.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
  }
  
  /* 600 */
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-ExtraBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-ExtraBoldSlanted.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }
  
  /* 500 */
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-SemiBoldSlanted.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
  }
  
  /* 400 */
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-MediumSlanted.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
  }
  
  /* 300 */
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-Slanted.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }
  
  /* 200 */
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-LightSlanted.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-ExtraLightSlanted.otf")
      format("opentype");
    font-weight: 200;
    font-style: italic;
  }
  
  /* 100 */
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: "TomatoGrotesk";
    src: url("../public/fonts/TomatoFont/TomatoGrotesk-ThinSlanted.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
  }
  